

body{
  width:70%;
  margin:0 auto;
  background-color:transparent;  
  text-align:center;
  font-family: "Arial, Helvetica, sans-serif";
  font-size:10
 
}

#contents{ overflow: auto;}

.navbars{
	background-color:#00aaff;
	border-style: solid 100em  500; 
	
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

#nav,#contents, #footer{
  margin:1%;
  background-color:tarnsparent;
  
  color:#fffff;
  border-style: dotted 1em ; 
  background-image: url(white.jpg)
  
 }

.container{
	background-image:url(bck.jpg)
}	
.column1, .column2, .column3{
  width:31%;
  float:left;
  margin:.5%;
  background-color: transparent;
  overflow: scroll;
  overflow: auto;
  color:#ffffff;
  background-image: url(art_canvas.jpg);
  
  
}
li{
  display:inline;
  padding:0.5;
  text-align:left;
  margin-left:10%;
}


.cc04{
  transparent url(icon_skype.png) no-repeat top left;
}


#nav, #footer{
 
  padding: 0.5em 0;
  
}

#contents, .article{
  height:11em;
  magin-bottom: 1em;
 
}

h1 h3 h5{
 font-size:20;
 text-align:center;

}


nav{
 
  height:30px;
}


#content{
	height:10em;
	margin-bottom:1em;

	
}

/*
*{
  text-align:center;
  border-color: cornflowerblue;
  background-color:white;
  margin:10px;
  border: 20px;

}

.displaylogo{
  height:40;
}
body{
  text-align: center;

}

h1,h2,h3{
  text-decoration: cornflowerblue;
  font-size: large;
}

.li{
  display: inline;

}

.lines{
  height:0px;
  width:0px;
 
  border: cornflowerblue;
}

.divclass{
  height: 10px;
  border-width: 10px;
  border-color: burlywood;

} */
