body{
  width:70%;
  margin:0 auto;
  background-color:#white;  
  text-align:center;
  border-color: blue;
}

#contents{ overflow: auto:}

#nav,#contents, #footer{
  margin:1%;
  background-color:"cornflowerblue;
}
.column1, .column2, .column3{
  width:31%;
  float:left;
  margin:.5%;
  background-color: cornflowerblue;
  height:500px;
}


.cc04{
  transparent url(icon_skype.png) no-repeat top left;
}

li{
  display:inline;
  padding:0.5em;
  text-align=center;
  margin-left:3%;
}

#nav, #footer{
  background-color: cornflowerblue;
  padding: 0.5em 0;
  
}

#contents, .article{
  height:11em;
  magin-bottom: 1em;
 background-color: cornflowerblue;
 
}

h1 h3 h5{
 font-size:20;
 text-align:center;

}


nav{
  background-color: cornflowerblue;
  height:30px;
}


#content{
	height:10em;
	margin-bottom:1em;
	background-color:cornflowerblue;
	
}

/*
*{
  text-align:center;
  border-color: cornflowerblue;
  background-color:white;
  margin:10px;
  border: 20px;

}

.displaylogo{
  height:40;
}
body{
  text-align: center;

}

h1,h2,h3{
  text-decoration: cornflowerblue;
  font-size: large;
}

.li{
  display: inline;

}

.lines{
  height:0px;
  width:0px;
  background-color: cornflowerblue;
  border: cornflowerblue;
}

.divclass{
  height: 10px;
  border-width: 10px;
  border-color: burlywood;

} */
